.header--home { 
	background-color: $slate;
	width: 100%;
	padding: 1em;
}

.header--home > img {
	width: 200px;
	display: block;
}

.header--home > h2 {
    font-size: 1em;
	display: inline;
    color: $light;
	font-family: $header_font;
	font-weight: 300;
	text-align: left;
}

.btn--auth {
	background-color: $brand-color;
	color: $light;
}

.btn--inputs {
	border: 1px solid $mid-light;
	color: $alt-gray;
}

.btn--inputs:focus {
	color: $dark;
	border: 1px dotted $dark;
}

.btn__browse {
	background-color: $alt-blue;
}

@include media-query(palm) {

	.nav--auth {
		text-align: center;
	}

	.btn--auth {
		width: 90%;
		padding-right: 0;
    	padding-left: 0;
    	margin-bottom: 0.5em;
    	text-align:center;
	}

	.btn--inputs {
		@extend .btn--auth;
	}

	.header--home {
		margin-bottom: 1em;
	}
}

@include media-query(lap-and-up) {
	
	.btn__browse {
		display: none;
	}
}

@media only screen and (min-height: 321px) and (max-width: 480px) {
	.header--home > img {
		width: 90%;
		margin: 0 auto;
		display: block;
	}

	.header--home > h2 {
		text-align: center;
	}
}

