.header--home { 
	background-color: $alt-red;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 0.01em
}

.header--home > img {
	width: 90%;
	margin: 0 auto;
	display: block;
}

.header--home > h2 {
    @include font-size($h5-size);
	color: $light;
	font: $header_font;
	font-weight: 300;
	text-align: center;
	padding-top: 0.5em;
}

.btn--auth {
	background-color: $brand-color;
	color: $light;
}

.btn--inputs {
	border: 1px solid $mid-light;
	color: $alt-gray;
}

.btn--inputs:focus {
	color: $dark;
	border: 1px dotted $dark;
}

.btn__browse {
	background-color: $alt-blue;
}

@include media-query(palm) {

	.nav--auth {
		text-align: center;
	}

	.btn--auth {
		width: 90%;
		padding-right: 0;
    	padding-left: 0;
    	margin-bottom: 0.5em;
    	text-align:center;
	}

	.btn--inputs {
		@extend .btn--auth;
	}

	.header--home {
		margin-bottom: 1em;
	}
}